html
    head
        title Edit User
    body
        h2= `${users[0].first_name} ${users[0].last_name}'s Info`
        
        div

            form(action=`/editUser/${users[0].id}`, method="post")
                div
                    label(for="first_name")= users[0].first_name
                    input(type="text", name="first_name" value=users[0].first_name) 
                div
                    label(for="last_name")= users[0].last_name
                    input(type="text", name="last_name" value=users[0].last_name)
                div
                    label(for="age")= users[0].age
                    input(type="number", name="age" value=users[0].age)
                div
                    label(for="email")= users[0].email
                    input(type="email", name="email" value=users[0].email)
                button Submit
        a(href="/studentList") Back to Student List